# Base de datos
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DBNAME
PGSSL=1

# Pool de conexiones
PGPOOL_MAX=10
PG_IDLE_TIMEOUT=30000
PG_CONN_TIMEOUT=10000

# JWT
JWT_SECRET=cambia-esto-en-produccion
