# Base de datos
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require
# Ejemplo Neon:
# DATABASE_URL=postgresql://neondb_owner:PASS@ep-xxxxx-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
PGSSL=1

# Pool de conexiones
PGPOOL_MAX=5
PG_IDLE_TIMEOUT=30000
PG_CONN_TIMEOUT=10000

# JWT
JWT_SECRET=cambia-esto-en-produccion
